.item {
	background:  $item-background;
	border: 1px solid $item-border;
	margin-bottom: $space;
	padding: $space;	
}

.item__message {
	color: $item-message-color;
}

.item__status {
	margin: 0;
	font-style: italic;
	text-align: center;
	color: $item-message-color;
}